{% extends "base.html" %}
{% load static %}

{% block extra_title %}- {{ portfolio.name }} {% endblock %}

{% block content %}

<div class="container pt-md-5 pt-4 pb-3">
    <div class="row pb-md-3 mb-4">
        <div class="col-lg-4 border-end border-dark">
            <h1 class="homepage-h2 pb-mb-5 pb-4 mt-md-0">{{ portfolio.name }}</h1>
            <!--https://stackoverflow.com/questions/10270891/newline-in-models-textfield-not-rendered-in-template-->
            <p>{{ portfolio.description|linebreaks }}</p>
            <h2 class="fs-4 py-3">Materials</h3>
            <p>{{ portfolio.materials|linebreaks}}</p>
            {% if request.user.is_superuser %}
            <div class="mt-5">
            <a class="text-primary pe-3" href="{% url 'edit_portfolio' portfolio.id %}"><i class="far fa-edit fa-lg"></i></a>
            <i class="far fa-trash-alt fa-lg text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <strong>{{ portfolio.name}}</strong>?
      </div>
      <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-white px-3" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-danger px-4" href="{% url 'delete_portfolio' portfolio.id %}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
