{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
<!-- hero image -->
<div class="container-fluid hero-image mg-top">
    <div class="hero-trapezoid">
        <h1 class="hero-header text-end text-black">Which Way Is Up?</h1>
        <h2 class="hero-tagline text-end">Urban art by Peter Charalambides</h2>
    </div>
</div>

<!-- featured collection -->
<div class="container-fluid px-3 px-md-5 py-lg-5 container-home">
    <div class="row px-2 px-md-0 gx-lg-5 py-5">
        <div class="col-12">
            <h2 class="homepage-h2 pb-5 mb-0">Featured collection</h2>
        </div>
        <div class="col-sm-12 col-lg-6 pe-xxl-5 d-flex">
            <div class="align-self-center">
                {% if portfolio %}
                {% if portfolio.image %}
                <!-- portfolio image -->
                <img src="{{MEDIA_URL}}{{ portfolio.image }}" class="p-2 img-fluid img-home shadow rounded mb-5 mb-lg-0"
                    alt="example of {{ portfolio.name }}" width="900" height="650">
                {% else %}
                <!-- default no image -->
                <img src="{{MEDIA_URL}}default_image.png" class="p-2 img-fluid img-home shadow rounded mb-5 mb-lg-0"
                    alt="default image" width="900" height="650">
                {% endif %}
                {% else %}
                <!-- default image -->
                <img src="{{MEDIA_URL}}default_lexi_cinema.jpg"
                    class="p-2 img-fluid img-home shadow rounded mb-5 mb-lg-0" alt="lexi cinema" width="900"
                    height="650">
                {% endif %}
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 d-flex flex-column justify-content-center">
            <!-- portfolio text -->
            {% if portfolio %}
            <h3 class="pb-4">{{ portfolio.name }}</h3>
            <div class="paragraph">
                {{ portfolio.description|linebreaks }}
                {{ portfolio.materials|linebreaks }}
            </div>

            <div class="mt-3 py-3">
                <a href="{% url 'portfolio_detail' portfolio.id %}" class="btn btn-black px-5 py-2 text-uppercase">View
                    collection</a>
            </div>
            {% else %}
            <!-- back up text -->
            <h3 class="pb-4">Local Landmarks</h3>
            <p>"Think local- we are shaped by our surroundings after all…"</p>
            <p>Colour: Using colour and line to form distinctive images of local landmarks, the works contain hidden
                facts and phrases associated with the depicted building.</p>
            <p>Black and White: Using both shade and negative space, these carefully crafted black line drawings capture
                the design of both iconic landmarks and buildings.</p>

            <ul class="ul-materials ps-0">
                <li>Colour: Medium: Spray paint and pen on card</li>
                <li>Black & White Medium: Pen on card</li>
                <li>Prints: Unframed A4 Art Print on Somerset Enhanced Velvet 255gsm Paper.</li>
            </ul>

            <div class="mt-3 py-3">
                <a href="#" class="btn btn-black px-5 py-2 text-uppercase">View collection</a>
            </div>
            {% endif %}
        </div>

    </div>
</div>

<!-- colouring section -->
<div class="bg-black text-white py-lg-5 mb-5">
    <div class="container-fluid py-5 px-3 px-md-5 container-home">
        <div class="row py-4 px-2 px-md-0 gx-lg-5">
            <div class="col-12 d-lg-none d-block">
                <h2 class="homepage-h2 pb-5 mb-0">Colour me</h2>
            </div>
            <div class="col-sm-12 col-lg-6 order-2 order-lg-1 d-flex">
                <div class="align-self-center mt-5 mt-lg-0">
                    <h2 class="homepage-h2 pb-lg-5 d-none d-lg-block">Colour me</h2>
                    <p class="">Enjoy a bit of mindfulness and unleash your creativity by colouring this illustration.
                    </p>
                    <p class="">But Which Way is Up?</p>
                    <p>The only way you want it to be!</p>
                    <p class="">Share your work on Instagram or Facebook by using the hashtag #whichwayisup</p>

                    <div class="mt-5 py-3">
                        <a href="{% static 'download/colouring_page.pdf' %}" target="_blank"
                            class="btn btn-white px-5 py-2 text-uppercase ">DOWNLOAD</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 text-center order-1 order-lg-2">
                <img src="{{MEDIA_URL}}colouring_page.jpeg" class="img-fluid img-home rounded"
                    alt="colouring sheet to download" width="900" height="650">
            </div>
        </div>
    </div>
</div>

<!-- Reviews section -->
<div class="container-fluid px-3 px-md-5 mb-5 py-lg-5 container-home">
    <div class="row px-2 justify-content-between">
        <div class="col-12">
            <h2 class="homepage-h2 pb-4 mb-0">Reviews</h2>
        </div>

        {% if reviews|length > 0 %}
        {% for review in reviews %}
        <div class="col-12 col-lg-4 my-4 reviews-container">
            {% include 'reviews/includes/reviews_display.html' %}
        </div>
        {% endfor %}
        <div class="mt-3 py-4 text-center">
            <a href="{% url 'reviews' %}" class="btn btn-black px-5 py-2 text-uppercase">View all reviews</a>
        </div>
        {% else %}
        <div class="col-12 my-4">
            <p>There are no reviews available for this website.</p>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}