asgiref==3.4.1
beautifulsoup4==4.9.3
blinker==1.4
boto3==1.20.37
botocore==1.23.37
braintree==4.13.1
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.0.1
cloudinary==1.32.0
coverage==6.2
crispy-bootstrap5==0.6
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.8
django-admin-interface==0.18.4
django-allauth==0.41.0
django-braces==1.15.0
django-case-insensitive-field==1.0.3
django-cleanup==5.2.0
django-colorfield==0.6.3
django-countries==7.2.1
django-crispy-forms==1.13.0
django-environ==0.10.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-model-utils==4.2.0
django-storages==1.12.3
dnspython==2.1.0
Flask==2.0.1
Flask-Cors==3.0.10
Flask-JWT-Extended==4.2.3
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
gunicorn==20.1.0
idna==3.4
itsdangerous==2.0.1
Jinja2==3.1.2
jmespath==0.10.0
MarkupSafe==2.1.2
oauthlib==3.1.1
Pillow==8.4.0
psycopg2-binary==2.9.3
PyJWT==2.3.0
pymongo==3.12.0
python-dateutil==2.8.2
python-dotenv==0.18.0
python3-openid==3.2.0
pytz==2021.3
requests==2.30.0
requests-oauthlib==1.3.0
s3transfer==0.5.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
swapper==1.3.0
urllib3==1.26.15
Werkzeug==2.0.1
