{% extends "base.html" %}
{% load static %}

{% block extra_title %}- shop {% if category.name %} {{category.name}}{% else %} all {% endif %}{% endblock %}

{% block content %}

<div class="container pt-md-5 pt-4 pb-3">

    <div class="row ">
        <h1 class="col-12 col-md-7 col-lg-8 col-xl-9 pb-3">Shop {% if category.name %}{{ category.name }}{% else %} all
            {% endif %}</h1>
        <!-- sort  -->

        {% if artworks.count > 0 %}
        <div class="col text-end py-2">
            <select class="d-inline-block py-1 px-2 w-100" id="sort-selector">
                <option value="reset"  {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
                </option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price(high to low)
                </option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                <option value="portfolio_asc" {% if current_sorting == 'portfolio_asc' %}selected{% endif %}>Collection
                    (A-Z)</option>
                <option value="portfolio_desc" {% if current_sorting == 'portfolio_desc' %}selected{% endif %}>Collection
                    (Z-A)</option>
            </select>
        </div>
        {% endif %}

        <!-- end sort -->
    </div>

    <div class="row gx-md-5 {% if category.name|lower == 'prints' %} pt-3 {% else %} pt-5 {% endif %}">

        <!-- artwork -->
        {% if artworks.count > 0 %}
        {% for artwork in artworks %}
        <div class="card pb-0 col-12 col-sm-6 col-md-4 col-xl-3" data-item="{{artwork.id}}">
            <a href="{% url 'artwork_details' artwork.id %}" class="shop-link border-danger card-img-top">
                <img class="card-img-top"
                    src="{{ MEDIA_URL }}{% if artwork.image %}{{ artwork.image }}{% else %}default_image.png{% endif %}"
                    alt="{% if not artwork.image %}default for {% endif %}{{ artwork.name }}">
            </a>
            <div class="card-body px-1 mt-1 pb-0">
                <!-- artwork name-->
                <h3 class="card-title fs-5 mb-0 text-truncate">{{ artwork.name }}</h3>
                <!-- artwork details -->
                <p class="mt-2 mb-0 text-muted small">{{ artwork.materials }}</p>
                <p class="mb-0 text-muted small">Size: {{ artwork.size }} cm</p>

                <div class="d-flex justify-content-between align-items-center">
                    <!--artwork price-->
                    <p class="mt-2 mb-0 fs-5 price align-self-end">£{{ artwork.price }}</p>
                   
                    <!--action buttons -->
                    <div class="btn-group pe-1" role="group" aria-label="Basic example">
                        <button type="button" class="round-btn btn-light me-2 p-0 m-0"><i
                                class="fas fa-cart-plus"></i></button>
                        {% csrf_token %}
                        {% if request.user.is_authenticated and artwork in wishlist %}
                        <button data-action="remove-from-wishlist" data-item="{{artwork.id}}" type="button" class="round-btn btn-light p-0 m-0"><i class="fa-lg fas fa-heart red-text"></i></button>
                        {% else %}
                        <button data-action="add-wishlist" data-item="{{artwork.id}}" type="button" class="round-btn btn-light p-0 m-0"> <i
                                class="fa-lg far fa-heart"></i></button>
                        {% endif %}
                        
                    </div>
                </div>

                {% if request.user.is_superuser %}
                <div class="mt-4 d-flex justify-content-between">
                    <a class="pe-2 text-primary" href="{% url 'edit_artwork' artwork.id %}"><i
                            class="far fa-edit fa-lg"></i></a>
                    <i class="far fa-trash-alt text-danger fa-lg" data-bs-toggle="modal"
                        data-bs-target="#deleteModal-{{artwork.id}}"></i>
                </div>
                {% endif %}

            </div>
        </div>
        <!-- end artwork -->
        <!-- separator -->
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none my-5">
            <hr>
        </div>
        {% endif %}

        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-none d-lg-none my-4">
            <hr>
        </div>
        {% endif %}

        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-md-block d-xl-none my-4">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block my-4">
            <hr>
        </div>
        {% endif %}
        <!-- end separator -->

        <!-- Modal Delete -->
        <div class="modal fade" id="deleteModal-{{artwork.id}}" tabindex="-1"
          aria-labelledby="deleteModalLabel-{{artwork.id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel-{{artwork.id}}">Confirm delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete <strong>{{ artwork.name}}</strong>?
              </div>
              <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-white px-3" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger px-4"
                  href="{% url 'delete_artwork' artwork.id %}">Yes</a>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->

        {% endfor %}
        {% else %}
        <div class="col text-center">
            <h2 class="py-4">Watch this space!</h2>
            <p>Artwork coming soon ...</p>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}

{% block extra_js %}
{{ block.super }}

<script>
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}