{% extends "base.html" %}
{% load static %}
{% load account %}
{% load i18n %}
{% block extra_title %}- my reviews {% endblock %}

{% block content %}

<div class="container pt-md-5 pt-4 pb-3">
  <div class="row pb-md-3 mb-4">
    <h1 class="homepage-h2 pb-mb-5 pb-4 mt-md-0">My reviews</h1>
    <h2 class="fs-4 text-muted text-uppercase normal-text"> {{ reviews|length }} shop reviews</h2>
    {% if reviews|length > 0 %}
    {% for review in reviews %}
    <div class="col-12 my-4">
      {% include 'reviews/includes/reviews_display.html' %}
    </div>
    {% endfor %}
    {% else %}
    <div class="col-12 my-4">
    <p>You haven't left any reviews for any items purchased on this website.</p>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}