{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bag_tools %}

{% block extra_title %}- order successful {% endblock %}

{% block content %}

<div class="container pt-md-5 pt-4 pb-3">
  <div class="row pb-md-3 mb-4">
    <h1 class="h1-page mt-md-0 text-center">Order Successful !</h1>
  </div>

  <div class="col-12 offset-md-2 col-md-8">
    <p class="fs-6 text-center mb-4">Thank for your order. An email confirmation will also be sent to: {{ order.email }}
    </p>
  </div>
  {% include 'checkout/includes/order_details.html' %}
  <div class="row my-4 px-1">
    <div class="col-12 offset-md-2 col-md-8 d-flex justify-content-between">
    <a href="{% url 'home' %}" class="btn btn-white py-2 px-4 text-uppercase">
      go home</a>
    <a href="{% url 'shop' %}" class="btn btn-black py-2 px-4 text-uppercase">
      keep shopping</a>
  </div>
  </div>
</div>

{% endblock %}