{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}- checkout {% endblock %}

{% block content %}

<div class="container pt-md-5 pt-4 pb-3">
  <div class="row pb-md-3 mb-4">
    <h1 class="h1-page mt-md-0">Checkout</h1>
  </div>

  <div class="row">
    <p class="">Please fill out the form below to complete your order</p>

    <!-- order summary-->
    <div class="col-12 col-lg-6 order-lg-last ps-lg-5 mb-5">
      <div class="border shadow rounded border-lg-secondary">
        <div class="card-body row p-4 p-xl-5">
          <h2 class="fs-3 mb-3 pb-2 text-center">Order summary</h2>
          <div class="d-flex justify-content-between">
            <span class="fw-bold">Item</span>
            <span class="fw-bold">Subtotal</span>
          </div>
          <hr class="mt-3 mb-3">
          <!-- shopping bag details -->
          {% for item in bag_items %}
          <div class="d-flex justify-content-between text-muted">
            <div class="row w-100">
              <div class="col-3 pe-0">
                <a class="img-checkout" href="{% url 'artwork_details' item.artwork.id %}">
                  <img class="img-fluid shadow rounded" width="250" height="250"
                    src="{{ MEDIA_URL }}{% if item.artwork.image %}{{ item.artwork.image }}{% else %}default_image.png{% endif %}"
                    alt="{% if not item.artwork.image %}default for {% endif %}{{ item.artwork.name }}">
                </a>
              </div>
              <div class="col">
                <p class="my-0 ">{{ item.artwork.name|title }}</p>
                <p class="mt-1 small mb-0">{{ item.artwork.materials }}</p>
                <p class="my-0 small">Qty: {{ item.quantity }}</p>
              </div>
            </div>
            <div class="">
              <p class="my-0">£{{ item.artwork.price | calc_subtotal:item.quantity }}</p>
            </div>
          </div>
          <hr class="my-2">
          {% endfor %}
          <!--totals summary-->
          <div class="d-flex justify-content-between fw-bold mt-2">
            <p class="my-0">Order Total: </p>
            <p class="mb-1">£{{ total | floatformat:2 }}</p>
          </div>
          <div class="d-flex justify-content-between fw-bold">
            <p class="my-0">Delivery:</p>
            <p class="mb-1">FREE</p>
          </div>
          <div class="d-flex justify-content-between fw-bold">
            <p class="my-0">Grand Total:</p>
            <p class="mb-1">£{{ grand_total | floatformat:2 }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- checkout form -->
    <div class="col-12 col-lg-6">

      <form method="POST" action="{% url 'checkout' %}" id="checkout-form">
        {% csrf_token %}
        <div class="mb-4">
          <!-- personal details -->
          <h2 class='trapez-bg fs-4 ps-4 py-1 mb-4'>Contact details</h2>
          {{ form.full_name | as_crispy_field }}
          <input type="hidden" id="is_auth" {% if user.is_authenticated %}value="true" 
          {% else %}value="false" {% endif %}>
          {{ form.email | as_crispy_field }}
          {{ form.phone_number | as_crispy_field }}
        </div>
        <!-- hidden fields -->
        <input type="hidden" id="is_gift" value="{{ is_gift }}">
        <input type="hidden" id="gift-message" value="{{ gift_message }}">
        {{ form.gift_option | as_crispy_field }}

        <div id="gift-option-container" class="mt-3 hide">
          <h2 class='trapez-bg fs-4 ps-4 py-1 mb-4'>Gift option</h2>
          {{ form.gift_recipient | as_crispy_field }}
          <div class="form-check mb-3">
            <label class="form-check-label" for="gift-checkbox">Add / review your gift message
              address</label>
            <input class="form-check-input" type="checkbox" id="gift-checkbox">
          </div>
          <div id="form-message-container" class="hide">
            {{ form.gift_message | as_crispy_field }}
          </div>
        </div>

        <!-- delivery details-->
        <div id="delivery-details-container" class="my-5">
          <h2 class='trapez-bg fs-4 ps-4 py-1 mb-4'>Delivery details</h2>
          {{ form.delivery_street_address1 | as_crispy_field }}
          {{ form.delivery_street_address2 | as_crispy_field }}
          <div class="row">
            <div class="col-7">
              {{ form.delivery_town_or_city | as_crispy_field }}
            </div>
            <div class="col-5">
              {{ form.delivery_postcode | as_crispy_field }}
            </div>
          </div>
          {{ form.delivery_county | as_crispy_field }}
          {{ form.delivery_country | as_crispy_field }}
        </div>
        <!-- paiement-->
        <div id="billing-container" class="mb-5">
          <h2 class='trapez-bg fs-4 ps-4 py-1 mb-4'>Payment</h2>

          <!-- Braintree hosted fields-->
          {{ client_token|json_script:'client_token' }}
          <div class="mb-3">
            <label for="card-number">Card Number</label>
            <div id="card-number" class="form-control braintree-field"></div>
          </div>
          <div class="row">
            <div class="col-6 mb-3">
              <label for="expiration-date">Expiration Date</label>
              <div id="expiration-date" class="form-control braintree-field"></div>
            </div>
            <div class="col-6 mb-3">
              <label for="cvv" class="field">CVV</label>
              <div id="cvv" class="form-control braintree-field"></div>
            </div>
          </div>
          <!-- checkbox billing address same as deliver -->
          {{ form.billing_same_as_delivery | as_crispy_field }}

          <!-- billing address -->
          <div id="billing-details-container" class="hide">
            {{ form.billing_street_address1 | as_crispy_field }}
            {{ form.billing_street_address2 | as_crispy_field }}
            <div class="row">
              <div class="col-7">
                {{ form.billing_town_or_city | as_crispy_field }}
              </div>
              <div class="col-5">
                {{ form.billing_postcode| as_crispy_field }}
              </div>
            </div>
            {{ form.billing_county | as_crispy_field }}
            {{ form.billing_country | as_crispy_field }}
          </div>

          <!-- save details or login -->
          <div class="form-check mb-3">
            {% if user.is_authenticated %}
            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
            <input class="form-check-input" type="checkbox" id="id-save-info" name="save_info" checked>
            {% else %}
            <a class="form-link" href="{% url 'account_signup' %}">Create an account</a> or
            <a class="form-link" href="{% url 'account_login' %}">login</a> to save this information
            {% endif %}
          </div>
          <p class="small red-text my-0">
            <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
            Your card will be charged <strong>£{{ total|floatformat:2 }}</strong>
          </p>
        </div>

        <!-- buttons -->
        <div class="mt-5 mb-2">
          <a href="{% url 'bag' %}" class="btn btn-white px-4 py-2 text-uppercase">
            <i class="fas fa-chevron-left pe-3" aria-hidden="true"></i>Adjust Bag
          </a>
          <!-- hidden field - braintree -->
          <input type="hidden" name="payment_method_nonce">
          <!--https://stackoverflow.com/questions/43990154/braintree-jsv3-payment-method-nonce-value-bad-with-hostedfields?rq=1-->
          <button id="checkout-submit" type="submit" class="btn btn-black px-4 py-2 text-uppercase">
            Complete Order<i class="fas fa-lock ps-3" aria-hidden="true"></i>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://js.braintreegateway.com/web/3.84.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.84.0/js/hosted-fields.min.js"></script>
<script src="{% static 'profiles/js/profile.js' %}"></script>
<script src="{% static 'checkout/js/form.js' %}"></script>
<script src="{% static 'checkout/js/braintree.js' %}"></script>
{% endblock %}