{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_title %}- checkout {% endblock %}

{% block content %}

<div class="container pt-md-5 pt-4 pb-3">
  <div class="row pb-md-3 mb-4">
    <h1 class="h1-page mt-md-0">Checkout</h1>
  </div>
  <div class="row">

    <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="mt-5">
        <a class="btn btn-white py-2 px-5 text-uppercase" href="{% url 'bag' %}">Adjust bag</a>
        <button class="btn btn-black py-2 px-5 text-uppercase" type="submit">Secure checkout
        <i class="fas fa-lock"></i>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}