* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*---------------[ COLOR ]-----------------*/

:root {
    --darkgrey: #5f5f61;
    --ivory: #c2c2c2;
    --red: #B30730;
    --green: #4CA649;
    --black: #0D0000;
    --white: #ffffff;
}

body {
    font-family: Mulish;
    font-size: 1rem;
    color: var(--black);
}

/*----------------[ HEADERS ]-----------------*/

h2,
.navbar-brand {
    font-family: Bungee;
}

/*---------------[ BACKGROUND ]---------------*/
.bg-black {
    background-color: var(--black);
}

/*---------------[ LINKS ]--------------------*/

a {
    text-decoration: none;
    color: inherit
}

a.btn,
.btn {
    text-decoration: none;
    font-weight: 700;
    border-radius: 2px;
}

a.btn:hover {
    background: var(--black);
    color: #ffffff;
}

footer a.btn:hover,
.footer-btn:hover {
    background-color: var(--ivory) !important;
    transform: scale(1.02);
}

nav i:hover,
footer li a:hover,
.sm-icon:hover {
    transform: scale(1.1);
    color: var(--ivory);
}

/*-------------[ NAVIGATION ]----------------*/

.nav-link {
    padding: .5rem .35rem;
}

.active,
.dropdown-item:hover {
    font-weight: 800;
}

.dropdown-menu-dark {
    background-color: var(--black);
}

.dropdown-menu {
    min-width: 13rem;
}

.dropdown-menu-dark .dropdown-item:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--white);
    background-color: transparent;
}

/*--------------[ HERO IMAGE ]----------------*/

.hero-image {
    background-image: url("/media/hero-image.jpg");
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*https://css-tricks.com/working-with-shapes-in-web-design/*/
.trapezoid {
    border-bottom: 30vh solid #ffffff;
    border-left: 65px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 50%;
    min-width: 315px;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

.hero-text-container {
    width: 75%;
    position: absolute;
    bottom: 0.5rem;
    right: .75rem;
}

.hero-header {
    font-family: Bungee;
    font-size: 3.75rem;
    line-height: 3.5rem;
}

.hero-tagline {
    padding-top: 0rem;
    font-size: 1rem;
    font-family: Mulish;
}

/*-----------------[ FOOTER ]----------------*/

.footer-header {
    font-size: 1.25rem;
}

.sm-icon {
    font-size: 1.75rem;
}

/*-------------[ MEDIA QUERIES ]-------------*/

@media only screen and (min-width: 576px) {

    /* Hero image */
    .trapezoid {
        border-left: 55px solid transparent;
    }

    .hero-text-container {
        width: 35%;
        right: 3.25rem;
    }

    .hero-header {
        font-size: 4rem;
        line-height: 3.75rem;
    }

    .hero-tagline {
        font-size: 1.15rem;
    }
}