* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*---------------[ COLOR ]-----------------*/

:root {
    --darkgrey: #5f5f61;
    --ivory: #c2c2c2;
    --red: #B30730;
    --green: #12702f;
    --black: #0D0000;
    --white: #ffffff;
}

body {
    font-family: Mulish;
    color: var(--black);
}

/*----------------[CONTAINERS]----------------*/

.container {
    min-height: 60vh !important;
    margin-top: 78px;
}

.mg-top {
    margin-top: 72px;
}

.container-crumbs {
    min-height: initial !important;
    margin-top: 0;
}

.artwork-cont {
    margin-top: 3rem;
}



/*----------------[ HEADERS ]-----------------*/

h1,
h2,
h3,
.navbar-brand,
.homepage-h2,
.toast-header {
    font-family: Bungee;
}

.homepage-h2 {
    font-size: 2.75rem;
}

.h1-page {
    font-size: 3rem;
}

/*---------------[ BACKGROUND ]---------------*/

.bg-black {
    background-color: var(--black);
}

.bg-ivory {
    background-color: #c2c2c254;
}

/*------------[ SECTION DIVIDER ]-------------*/

.section-divider {
    border-top: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 1px 2px 5px var(--black);
}

/*---------------[ LINKS ]--------------------*/

a {
    text-decoration: none;
    color: inherit;
}

.form-link {
    color: #0d6efd;
}

.text-link:hover {
    text-decoration: underline;
    color: inherit;
}

/*-------------[ BUTTONS ]--------------------*/

.round-btn {
    width: 2.3rem;
    height: 2.3rem;
    font-size: 1rem;
    border-radius: 2rem !important;
    border: none;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.20);
    text-align: center;
}

.round-btn:hover{
    background-color: #e7e7e7;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 30%);
}

.btn-review {
    border: none;
    background: transparent;
}

a.btn,
.btn {
    text-decoration: none;
    font-weight: 700;
    border-radius: 2px;
}

.btn-black {
    background-color: var(--black);
    color: var(--white);
}

.btn-white {
    background-color: var(--white);
    border: 1px solid var(--black);
}

.btn-black:hover {
    background: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
}

.btn-white:hover {
    background: var(--black);
    border: 1px solid var(--white);
    color: var(--white);
}

footer a.btn:hover,
.footer-btn:hover {
    background-color: var(--ivory) !important;
    transform: scale(1.02);
}

nav i:hover,
.bag-count:hover+i,
.cart-li:hover i,
footer li a:hover,
.sm-icon:hover {
    transform: scale(1.1);
    color: var(--ivory);
}

.cart-li:hover .bag-count,
.bag-count:hover {
    background-color: var(--ivory);
}

#add-to-bag:hover,
#checkout:hover,
#go-checkout:hover,
form .btn-black:hover {
    color: var(--white);
    border: 1px solid var(--green) !important;
    background-color: var(--green) !important;
}

/*---------------[ TOASTS ]------------------*/

.message-container {
    position: fixed;
    top: 4.15rem;
    right: 3.5vw;
    z-index: 99999999999;
}

.toast {
    overflow: visible;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 5px !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .85) !important;
    padding: 0.25rem;
}

.toast-capper {
    height: 2px;
    margin: 0 0.5rem;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -8px;
    right: 25px;
}

.toast-header {
    border-bottom: none;
    color: inherit;
}

.toast-img>img {
    max-height: 65px;
}

/*---------------[ LABELS ]------------------*/

.out-of-stock-label {
    position: absolute;
    font-weight: bold;
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    top: 1.75rem;
}

.sale-label {
    position: absolute;
    background-color: var(--red);
    color: var(--white);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding-top: 0.75rem;
    right: 1.25rem;
    top: 1rem;
}

/*-------------[ NAVIGATION ]----------------*/

.nav-link {
    padding: .5rem .35rem;
}

.active,
.dropdown-item:hover {
    font-weight: 800;
}

.dropdown-menu-dark {
    background-color: var(--black);
}

.dropdown-menu {
    min-width: 13rem;
}

.dropdown-menu-dark .dropdown-item:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--white);
    background-color: transparent;
}

.cart-li {
    position: relative
}

nav .list-inline-item i {
    font-size: 1.45rem;
}

.bag-count {
    position: absolute;
    color: var(--black);
    padding: 0 0.15rem;
    top: 1rem;
    left: 0.6rem;
    font-size: 0.78rem;
    font-weight: bolder;
    line-height: 0.85rem;
    z-index: 2;
    background-color: white;
}

/*--------------[ HERO IMAGE ]----------------*/

.hero-image {
    background-image: url("/media/hero-image.jpg");
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*trapezoid shape inspired from https://bennettfeely.com/clippy/*/

.hero-trapezoid {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    background-color: var(--white);
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 82.5%;
    padding: 2rem 1rem 0.5rem 12%;
}

.hero-header {
    font-family: Bungee;
    font-size: 3.75rem;
    line-height: 3.5rem;
}

.hero-tagline {
    padding-top: 0rem;
    font-size: 1rem;
    font-family: Mulish;
}


/*-----------[ HOMEPAGE SECTIONS ]-----------*/

.ul-materials {
    list-style-type: none;
}

/*-----------[ ALL AUTH / FORMS]-------------*/

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.35rem;
}

#profile-form label,
#checkout-form label,
.gift-label {
    position: absolute;
    z-index: -1;
}

.custom-checkbox label {
    padding-left: 0.75rem;
}

.form-control,
.checkboxinput,
.form-check-input,
.form-select {
    color: inherit;
    border: 1px solid var(--darkgrey);
}

.form-control:focus {
    border-color: inherit;
    outline: 0;
    box-shadow: 0 0 0.5rem 0.15rem rgba(8, 8, 8, 0.15);
}

.asteriskField {
    font-weight: bold;
    color: var(--red);
    padding-left: 0.25rem;
}

#div_id_remember {
    margin: 1.5rem 0;
}

.form-link {
    color: #0d6efd;
}

.img-abs {
    position: absolute;
    top: 85px;
    right: 0px;
    width: 120px;
    height: 120px;
}

#div_id_password,
#div_id_password1,
#div_id_password2 {
    position: relative;
}

.password-visible {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    z-index: 1;
}

/*--------------[ FORM IMAGE WIDGET ]------------*/

.widget {
    max-width: 645px !important
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

#image-clear_id~label {
    padding-left: 0.25rem !important;
}

/*---------------[ BRAINTREE ]-----------*/

.braintree-field {
    height: 38px;
}

.braintree-hosted-fields-focused {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.braintree-hosted-fields-focused.is-invalid {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/*----------------[ ABOUT ]---------------*/

.trapez-bg {
    clip-path: polygon(0% 0%, 97% 0, 100% 100%, 0% 100%);
    background-color: var(--black);
    color: var(--white);
}

.about-portrait-cont {
    text-align: center;
}

.img-square {
    object-fit: cover;
    width: 375px;
    height: 375px;
}

.relative {
    position: relative;
}

/* adapted from https://github.com/Code-Institute-Solutions/resume-miniproject-bootstrap4/tree/master/16-adding-work-history*/

.timeline-item {
    padding: 4em 2em 0em 3em;
    position: relative;
    color: var(--black);
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(data-dates);
    color: var(--darkgrey);
    position: absolute;
    left: 3em;
    top: 2em;
    display: block;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 18px;
    height: 18px;
    display: block;
    top: 2.25em;
    position: absolute;
    left: -9px;
    border-radius: 15px;
    content: '';
    background: var(--black);
}

/*-----------------[ PORTFOLIO ]------------------*/

.gallery-item {
    margin-bottom: 1.65rem;
    position: relative;
}

.modal-gallery {
    background-color: rgba(0, 0, 0, .65)
}

.modal-gallery-cont {
    width: 90%;
    max-width: 1350px;
}

.modal-gallery-cont .btn-close {
    background: none;
    color: white !important;
    opacity: 1;
}

.modal-gallery-cont .modal-content {
    background-color: transparent !important;
    color: var(--white);
}

.modal-gallery img {
    max-height: 78vh !important;
}

.overlay {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.gallery-item:hover>.overlay {
    display: block;
}

.portfolio-noimg {
    width: 60%;
}

/*--------------[ ARTWORKS ]-----------------*/

.striked {
    text-decoration: line-through;
    font-size: 0.85rem;
}

.card {
    border: none;
}

.shop-link {
    text-align: center;
}

.shop-link>img {
    object-fit: contain;
    object-position: bottom;
}

.price {
    font-weight: 800 !important;
}

.container-related {
    flex-wrap: nowrap !important;
    overflow: hidden !important;
}

.crumb-text {
    font-size: 0.9rem !important;
}

/*-------------[ ARTWORK DETAILS ]-----------*/

.img-detail-container {
    position: relative;
}

.img-detail {
    max-height: 650px;
    object-fit: contain;
}

.card-rel-items>img {
    max-height: 240px;
    object-fit: contain;
}

/*----------------[ WISHLIST ]---------------*/

.wishlist-img {
    text-align: center;
}

.wishlist-img>img {
    object-fit: contain;
}

.red-text {
    color: var(--red);
}

/*--------------[ SHOPPING BAG ]-------------*/

.bag-img-cont {
    text-align: center;
}

.bag-img-cont>img {
    object-fit: contain;
    max-height: 250px;
}

.btn-bag {
    border: transparent !important;
    background-color: transparent;
}

.gift-display {
    display: none;
}

/*---------------[ CHECKOUT ]----------------*/

.img-checkout>img {
    object-fit: contain;
    max-height: 65px;
}

.hide {
    display: none;
}

/*----------------[ REVIEWS ]----------------*/

#ratings .list-group-item {
    border: none !important;
    padding: 0rem 0.15rem;
}

.starred {
    color: #fdc00d;
}

.review-img {
    max-width: 100%;
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 2px;
}


/*-----------------[ FOOTER ]----------------*/

.footer-header {
    font-size: 1.25rem;
}

.sm-icon {
    font-size: 1.75rem;
}

/*-------------[ MEDIA QUERIES ]-------------*/

@media only screen and (min-width: 576px) {

    .hero-header {
        font-size: 4rem;
        line-height: 3.75rem;
    }

    .hero-tagline {
        font-size: 1.15rem;
    }

    .hero-trapezoid {
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
        padding: 3rem 3.25rem 0.75rem 17.5%;
    }

    .shop-link>img {
        height: 210px;
    }

    .crumb-text {
        font-size: 1rem !important;
    }


    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 13rem;
        display: inline-block;
        vertical-align: bottom;
    }

    .wishlist-img>img,
    .bag-img-cont>img {
        max-height: 375px;
    }

}


@media only screen and (min-width: 768px) {

    .img-abs {
        position: absolute;
        top: 85px;
        right: 0px;
        width: 200px;
        height: auto;
    }

    .message-container {
        right: 6vw;
    }

    #photos {
        clear: both;
        column-count: 2;
        column-gap: 1.95rem;
        column-fill: auto;
    }

    .gallery-item {
        break-inside: avoid;
    }

    .shop-link>img {
        height: 200px;
    }

    .truncate {
        max-width: 100%;
    }

    .wishlist-img>img {
        max-height: 180px;
    }

    .bag-img-cont {
        text-align: start;
    }

    .bag-img-cont>img {
        max-height: 135px;
    }

    .about-portrait-cont {
        text-align: start;
    }

    .img-square {
        height: 320px;
    }

    .img-drawing {
        position: absolute;
        top: 9rem;
        right: -3rem;
        width: 76%;
        height: auto;
    }

}


@media only screen and (min-width: 992px) {

    .message-container {
        right: 4vw;
    }

    .hero-trapezoid {
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        width: 51%;
        padding: 3rem 3.25rem 0.75rem 10%;
    }

    .img-home {
        max-height: 425px !important;
    }

    .reviews-container {
        max-width: 415px;
    }

    .img-abs {
        display: none;
    }

    #photos {
        column-count: 3;
    }

    .portfolio-cont {
        border-right: 1px solid var(--darkgrey);
    }

    .shop-link>img {
        height: 240px;
    }

    .form-control,
    .checkboxinput,
    .form-check-input,
    .form-select {
        max-width: 635px;
    }

    .img-drawing {
        top: 2rem;
        right: -2rem;
        width: 65%;
    }
}

@media only screen and (min-width: 1200px) {
    .message-container {
        right: 3vw;
    }

    .img-drawing {
        top: 0rem;
        right: -1rem;
        width: 60%;
    }
}

@media only screen and (min-width: 1399px) {
    .img-sizing {
        width: 90%;
    }

    .img-square {
        height: 375px;
    }
}

@media only screen and (min-width: 1450px) {
    .container-home {
        width: 90% !important;
    }

    .hero-trapezoid {
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        padding: 3.5rem 3.25rem 0.75rem 20%;
    }

}

@media only screen and (min-width: 1750px) {
    .img-home {
        max-height: 90% !important;
    }
}

@media only screen and (min-width: 2000px) {
    .container-home {
        width: 90% !important;
    }

    .hero-trapezoid {
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        padding: 3.5rem 5% 0.75rem 25%;
    }
}