{% load bag_tools %}
<div class="border shadow rounded border-lg-secondary">
  <div class="card-body row p-4 p-xl-5">
    <h2 class="fs-3 mb-3 pb-2 text-center">Order summary</h2>
    <div class="d-flex justify-content-between">
      <span class="fw-bold">Item</span>
      <span class="fw-bold">Subtotal</span>
    </div>
    <hr class="mt-3 mb-3">
    <!-- shopping bag details -->
    {% for item in bag_items %}
    <div class="d-flex justify-content-between text-muted">
      <div class="row w-100">
        <div class="col-3 pe-0">
          <div class="img-checkout">
            <img class="img-fluid rounded" width="250" height="250"
              src="{{ MEDIA_URL }}{% if item.artwork.image %}{{ item.artwork.image }}{% else %}default_image.png{% endif %}"
              alt="{% if not item.artwork.image %}default for {% endif %}{{ item.artwork.name }}">
          </div>
        </div>
        <div class="col">
          <a href="{% url 'artwork_details' item.artwork.id %}" class="text-link">
            <p class="my-0 ">{{ item.artwork.name|title }}</p>
          </a>
          <p class="mt-1 small mb-0">{{ item.artwork.materials }}</p>
          <p class="my-0 small">Qty: {{ item.quantity }}</p>
        </div>
      </div>
      <div class="">
        <p class="my-0">£{{ item.artwork.price | calc_subtotal:item.quantity }}</p>
      </div>
    </div>
    <hr class="my-2">
    {% endfor %}
    <!--totals summary-->
    <div class="d-flex justify-content-between fw-bold mt-2">
      <p class="my-0">Order Total: </p>
      <p class="mb-1">£{{ total | floatformat:2 }}</p>
    </div>
    <div class="d-flex justify-content-between fw-bold">
      <p class="my-0">Delivery:</p>
      <p class="mb-1">FREE</p>
    </div>
    <div class="d-flex justify-content-between fw-bold">
      <p class="my-0">Grand Total:</p>
      <p class="mb-1">£{{ grand_total | floatformat:2 }}</p>
    </div>
  </div>
</div>