{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "- Change Password" %}{% endblock %}

{% block content %}
<div class="container pt-5 pb-3">
    <div class="row pb-md-3 mb-4">
        <h1 class="h1-page pb-md-5 pb-4 mt-md-0">{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-5">
                <a class="btn btn-white px-5 py-2 text-uppercase" href="{% url 'profile' %}">Back to profile</a>
                <button class="btn px-5 py-2 text-uppercase btn-black" type="submit"
                    name="action">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}