{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %}{% trans "- Password Reset" %}{% endblock %}

{% block content %}
<div class="container pt-5 pb-3">
    <div class="row pb-md-3 mb-4">
        <h1 class="h1-page pb-md-5 pb-4 mt-md-0">{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
            minutes.{% endblocktrans %}</p>

            <div class="mt-5">
                <a class="btn btn-white px-5 py-2 text-uppercase" href="{% url 'home' %}">Go Home</a>
            </div>        

    </div>
</div>
{% endblock %}