{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %}{% trans "- Password Reset" %}{% endblock %}

{% block content %}
<div class="container pt-5 pb-3">
    <div class="row pb-md-3 mb-4">
        <h1 class="h1-page pb-md-5 pb-4 mt-md-0">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        </p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset mt-5">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-5">
                <a class="btn btn-white px-5 py-2 text-uppercase" href="{% url 'home' %}">Home</a>
                <input class="btn px-5 py-2 text-uppercase btn-black" type="submit"
                    value="{% trans 'Reset My Password' %}" />
            </div>
        </form>

        <p class="my-5">{% blocktrans %}Please contact us if you have any trouble resetting your
            password.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}