{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "- Signup" %}{% endblock %}

{% block content %}
<div class="container pt-5 pb-3">
  <div class="row pb-md-3 mb-4">
    <div class="col-lg-6 pe-xl-5">
      <img class="img-abs" src="{{MEDIA_URL}}register-illustration.png" width="200" height="200" alt="register illustration" />
      <h1 class="h1-page pb-md-5 pb-4 mt-md-0">{% trans "Sign Up" %}</h1>

      <p>{% blocktrans %}Already have an account? Then please <a class="form-link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>

      <form class="signup mt-5" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="mt-5">
          <a class="btn btn-white px-5 py-2 text-uppercase" href="{% url 'home' %}">Home</a>
          <button class="btn px-5 py-2 text-uppercase btn-black" type="submit">{% trans "Sign Up" %}</button>
        </div>
      </form>
    </div>
    <div class="d-none d-lg-block col-lg-6 text-end align-self-center">
      <img class="img-fluid img-sizing" src="{{MEDIA_URL}}register-illustration.png" width="500" height="500" alt="register illustration" />
    </div>
  </div>
</div>
{% endblock %}