/*-----------[ GALLERY ITEMS ]-----------*/

.gallery-item {
    margin-bottom: 1.65rem;
    position: relative;
}

/*------------[ MODAL IMAGE ]------------*/

.modal-gallery {
    background-color: rgba(0, 0, 0, .65)
}

.modal-gallery-cont {
    max-width: 1350px;
}

.modal-gallery-cont .btn-close {
    background: none;
    color: white !important;
    opacity: 1;
}

.modal-gallery-cont .modal-content {
    background-color: transparent !important;
    color: var(--white);
}

.modal-gallery img {
    width: auto;
    height: auto;
    max-height: 78vh !important;
}

.overlay {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.gallery-item:hover>.overlay {
    display: block;
}

/*----------[ PORTFOLIO NO CONTENT ]----------*/

.portfolio-noimg {
    width: 60%;
    height: auto;
}

/*------------[ MEDIA QUERIES ]------------*/

@media only screen and (min-width: 768px) {
    #photos {
        clear: both;
        column-count: 2;
        column-gap: 1.95rem;
    }

    .modal-gallery img {
        height: auto;
    }

    .gallery-item {
        break-inside: avoid;
    }
}

@media only screen and (min-width: 992px) {
    #photos {
        column-count: 3;
    }

    .portfolio-cont {
        border-right: 1px solid var(--darkgrey);
    }
}