/*------------[ ARTWORKS ]-----------*/

.card-shop {
    max-width: 425px;
    margin: 0 auto;
}

.shop-link {
    text-align: center;
}

.shop-link>img {
    object-fit: contain;
    object-position: bottom;
    height: 280px;
}

.price {
    font-weight: 800 !important;
}

/*---------[ ARTWORKS DETAILS ]---------*/

.container-crumbs {
    min-height: initial !important;
    margin-top: 0;
}

.container-related {
    flex-wrap: nowrap !important;
    overflow: hidden !important;
}

.crumb-text {
    font-size: 0.9rem !important;
}

.img-detail-container {
    position: relative;
}

.img-detail {
    max-height: 650px;
    object-fit: contain;
}

.card-rel-items>img {
    height: 150px;
    object-fit: contain;
    object-position: bottom;
}

/*----------[ MEDIA QUERIES ]-----------*/

@media only screen and (min-width: 576px) {

    .shop-link>img,
    .card-rel-items>img {
        height: 210px;
    }

    .crumb-text {
        font-size: 1rem !important;
    }
}

@media only screen and (min-width: 768px) {

    .shop-link>img,
    .card-rel-items>img {
        height: 200px;
    }

    .card-shop {
        margin: initial;
    }
}

@media only screen and (min-width: 992px) {

    .shop-link>img,
    .card-rel-items>img {
        height: 240px;
    }
}