{% extends "base.html" %}
{% load static %}

{% block extra_title %}- page 500 {% endblock %}

{% block content %}
<div class="container pt-md-5 pt-4 pb-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="h1-page fs-1 text-center mb-4">OOPS - something went wrong !</h2>
            <div class="text-center">
                <img class="img-fluid error-img-fit" src="https://whichwayisup.s3.amazonaws.com/media/house.png"
                    alt="house illustration" width="450" height="450">
            </div>
            <p class="fs-3 fw-bold text-center mb-1">It's mad house in here!</p>
            <p class="fs-3 fw-bold text-center py-4">We're looking into the issue, but do come back later.</p>
            <div class="text-center">
                <a class="btn bg-black text-white px-5 py-2 text-uppercase" href="{% url 'home' %}">Go back home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}