{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Urban art by Peter Charalambides">
    <meta name="keywords"
        content="urban art, doodle art, art, doodle illustration, doodle artist, london artist, london urban art">
    <meta name="author" content="Which Way Is Up">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.png' %}">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Mulish:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>Which Way is Up {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <!-- header -->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black py-3">
            <div class="container-fluid px-3 px-md-5">

                <!--collapsible button-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-lg text-white"></i>
                </button>
                <a class="navbar-brand d-none d-md-block" href="#">Which Way Is Up?</a>

                <!-- navigation icons -->
                <ul class="list-inline list-unstyled text-center text-lg-right my-0 order-lg-3">
                    <!-- favourites -->
                    <li class="list-inline-item dropdown">
                        <a class="text-white nav-link" href="{% url 'wishlist' %}" aria-label="view favourite artworks">
                            <i class="fas fa-heart fa-lg" aria-hidden="true"></i>
                        </a>
                    </li>
                    <!-- shopping bag-->
                    <li class="list-inline-item">
                        <a class="cart-li text-white nav-link" href="{% url 'bag' %}" aria-label="view shopping bag">
                            {% if total_count > 0 %}
                            <span class="bag-count">{{ total_count }}</span>
                            {% endif %}
                            <i class="fas fa-shopping-bag fa-lg" aria-hidden="true"></i>
                        </a>
                    </li>
                    <!-- accounts -->
                    <li class="list-inline-item dropdown">
                        <a class="text-white nav-link dropdown-toggle" href="#" role="button" id="accountMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false" aria-label="display account menu items">
                            <i class="fas fa-user fa-lg" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark px-3"
                            aria-labelledby="accountMenuLink">
                            {% if request.user.is_authenticated %}
                            <!-- authenticated users -->
                            <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'order_history' %}">My Orders</a></li>
                            <li><a class="dropdown-item" href="{% url 'my_reviews' %}">My Reviews</a></li>
                            {% if request.user.is_superuser %}
                            <!-- super user / admin -->
                            <li><a class="dropdown-item" href="{% url 'add_portfolio' %}">Add collection</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_artwork' %}">Add artwork</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_event' %}">Add event</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                            {% else %}
                            <!-- non authenticated users-->
                            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>

                <!-- collapsible menu -->
                <div class="collapse navbar-collapse order-lg-2" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-lg-auto">
                        <!-- home page -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        {% if categories|length > 0 %}
                        {% for category in categories %}
                        <!-- portfolio -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdowncat-{{category.id}}" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{ category.name|title }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark px-3"
                                aria-labelledby="dropdowncat-{{category.id}}">
                                {% if category.col|length > 0 %}
                                {% for collection in category.col %}
                                {% if collection.status == 'active' %}
                                <li><a class="dropdown-item"
                                        href="{% url 'portfolio_detail' collection.id %}">{{collection.name|title }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                        <!-- end collection -->
                        {% endfor %}
                        {% endif %}

                        <!-- about -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <!-- shop -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="shopDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Shop
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="shopDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'shop'%}">Browse all</a></li>
                                <!-- dynamic shop categories -->
                                {% if shop_categories|length > 0 %}
                                {% for cat in shop_categories %}
                                <li><a class="dropdown-item"
                                        href="{% url 'shop'%}?shop_category={{cat.backend_name}}">
                                        {{ cat.name|title }}
                                </a></li>
                                {% endfor %}
                                <li><a class="dropdown-item text-danger fw-bold text-uppercase"
                                        href="{% url 'shop'%}?shop_category=sale">
                                        <span class="text-danger fw-bold text-uppercase">Sale</span>
                                </a></li>                                
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- messages -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- footer -->
    <footer class="container-fluid bg-black px-3 px-md-5 py-5 mt-5">
        <!--<div class="container">-->
        <div class="row">
            <div class="col-sm-12 col-lg-8 text-white pt-3 pt-lg-0 order-2 order-lg-1">
                <!-- policies-->
                <h2 class="footer-header pb-2 fw-bolc">Useful links</h2>
                <ul class="list-unstyled">
                    <li><a href="{% url 'delivery_and_returns' %}">Delivery and return policy</a></li>
                    <li><a href="{% url 'terms_and_conditions' %}">Terms & conditions</a></li>
                    <li><a href="{% url 'accessibility' %}">Accessibility</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy</a></li>
                </ul>
                <!-- contact form -->
                <a href="{% url 'contact' %}"
                    class="btn bg-white text-black px-5 py-1 my-lg-2 text-uppercase">Contact</a>
            </div>
            <div class="col-sm-12 col-lg-4 text-white order-1 order-lg-2">
                <!-- social media links -->
                <h2 class="footer-header fw-bold pb-1">Join the community</h2>
                <div>
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item dropdown">
                            <a class="text-white nav-link" href="https://instagram.com/?hl=en" target="_blank"
                                rel="noreferrer" aria-label="Go to instagram">
                                <i class="fab fa-instagram sm-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-white nav-link" href="https://facebook.com" target="_blank" rel="noreferrer"
                                aria-label="Go to facebook">
                                <i class="fab fa-facebook-square sm-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-white nav-link" href="https://twitter.com/?lang=en" target="_blank"
                                rel="noreferrer" aria-label="Go to twitter">
                                <i class="fab fa-twitter sm-icon" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- newsletter subscription-->
                <form class="row" id="subscribe-form" method="post" action="{% url 'newsletter' %}">
                    {% csrf_token %}
                    <div class="col-8 col-lg-8 text-black">
                        {{ newsletter_form | crispy }}
                    </div>
                    <div class="col-4 col-lg-4 px-0">
                        <button type="submit" class="btn bg-white text-black text-uppercase footer-btn">Sign up</button>
                    </div>
                </form>

            </div>
        </div>

    </footer>

    {% block core_js %}

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    <!-- script.js -->
    <script src="{% static 'js/script.js' %}"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

</body>

</html>