{% extends "base.html" %}
{% load static %}

{% block extra_title %}- accessibility policy {% endblock %}

{% block content %}

<div class="container pt-md-5 pt-4 pb-3">
    <div class="row pb-md-3 mb-4">
        <h1 class="h1-page pb-md-5 pb-4 mt-md-0">Accessibility Statement</h1>
        <p>Which Way Is Up is committed to ensuring digital accessibility for people with disabilities. We are
            continually
            improving the user experience for everyone, and applying the relevant accessibility standards.</p>
        <h2 class="fs-4 text-decoration-underline my-3">Conformance status</h2>
        <p>The <a class="form-link" href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">Web
                Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to
            improve
            accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA,
            and Level AAA.</p>
        <p>Codzilla is partially conformant with WCAG 2.1 level AA. Partially conformant means
            that some parts of the content do not fully conform to the accessibility standard.</p>
        <h2 class="fs-4 text-decoration-underline my-3">Feedback</h2>
        <p>We welcome your feedback on the accessibility of our website. Please let us know if you encounter
            accessibility barriers on Which Way Is Up:</p>
        <p><strong>E-mail:</strong> claireci.lemonnier@gmail.com</p>
        <p>We try to respond to feedback within 5 business days.</p>

        <p>This statement was created on 16 December 2021 using the <a class="form-link"
                href="https://www.w3.org/WAI/planning/statements/generator/#create" target="_blank">W3C
                Accessibility Statement Generator Tool</a>.</p>

    </div>
</div>

{% endblock %}