{% extends "base.html" %}
{% load static %}

{% block extra_title %}- delivery and returns policy {% endblock %}

{% block content %}
   <div class="container pt-md-5 pt-4 pb-3">
       <div class="row pb-md-3 mb-4">

           <h1 class="h1-page pb-md-5 pb-4 mt-md-0">Delivery and returns policy</h1>

           <p>When you ordering prints and original artwork from Which Way Is Up, the following
               delivery and returns policy will apply:</p>

           <h2 class="fs-4 text-decoration-underline my-3">1. Delivery policy</h2>

           <p>All delivery are free across the the United Kingdom (UK). If you are ordering or wish to be delivered to
               an
               address outside the United Kingdom (UK), please email us at claireci.lemonnier@gmail.com or by using the
               contact form.</p>
           <p>All orders are processed within 2 working days. Orders are not shipped or delivered on weekends or
               holidays.</p>
           <p> If we are experiencing a high volume of orders, shipments may be delayed by a few days and we will
               contact you by email or phone should there be a significant delay in the shipment and delivery of your
               items.
           </p>

           <h2 class="fs-4 text-decoration-underline my-3">2. Damages and items lost in transit</h2>

           <p>If any prints or original items have been damaged in transit, please contact us by email at
               claireci.lemonnier@gmail.com or by using the contact form within 2 working days of the receipt of your items, .
           </p>

           <h2 class="fs-4 text-decoration-underline my-3">3. RETURNS (refunds and exchanges)</h2>

           <p>If you are unhappy with your item, please contact us within 30 days of your purchase by email at
               claireci.lemonnier@gmail.com or by using the
               contact form to arrange for a refund or an exchange. Postage for returning the items will be at your
               cost.</p>

           <p>Original artwork cannot be exchanged and are only eligible for a refund.</p>

           <p>To be eligible for a refund, prints and artwork must be returned in a re-saleable condition. That
               means your item must be unused and in the same condition that you received it. To complete your
               refund or exchange, we require a receipt or proof of purchase.</p>

           <h2 class="fs-4 text-decoration-underline my-3">4. Refunds (if applicable)</h2>

           <p>Once your returned item have been received and inspected, we will send you an email to notify you that we
               have received your returned item. We will also notify you of the approval or rejection of your refund.
           </p>

           <p>If your refund has been approved, it will be processed and credit applied to the credit card or original
               method of payment within 7 working days.</p>

           <p>If you have paid for the delivery of your items, the cost of delivery will be refunded, but not the
               postage incurred to return the items.</p>

           <h2 class="fs-4 text-decoration-underline my-3">5. Sale items</h2>

           <p>We do not offer refunds for sale items, unless they are faulty.</p>

           <h2 class="fs-4 text-decoration-underline my-3">6. Exchange (if applicable)</h2>
           <p>We only replace items if they are defective or damaged. If you need to exchange an item for the same
               item, please send us an email at claireci.lemonnier@gmail.com and use our contact form.</p>

       </div>
   </div>
{% endblock %}